monitoreo/n8n/exentia-reserva.json
{
  "name": "exentia-reserva",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "exentia-reserva",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "id": "exentia-reserva-wh",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        300
      ],
      "webhookId": "exentia-reserva"
    },
    {
      "parameters": {
        "jsCode": "// Normalize form submit, gen booking_code, build wa.me link\nlet body = $input.item.json.body || $input.item.json;\nif (typeof body === 'string') { try { body = JSON.parse(body); } catch(e) { body = {}; } }\nbody = body || {};\n\nfunction genCode() {\n  const chars = 'ABCDEFGHJKLMNPQRSTUVWXYZ23456789';\n  let r = 'EX-';\n  for (let i = 0; i < 8; i++) r += chars[Math.floor(Math.random()*chars.length)];\n  return r;\n}\n\nconst booking_code = genCode();\nconst telYaz = '529982XXXXXXX';\n\nlet servicios = body.servicios;\nif (typeof servicios === 'string') servicios = [{ slug: servicios }];\nif (!Array.isArray(servicios)) servicios = [];\n\nconst servicioSlug = servicios[0]?.slug || 'masaje';\nconst pref = (body.preferencia_sexo || 'I').toUpperCase();\nconst prefTexto = pref === 'H' ? 'Hombre' : pref === 'M' ? 'Mujer' : 'Indistinto';\nconst zona = body.zona_colonia || 'Cancun';\nconst waText = ('Hola, quiero reservar un masaje ' + servicioSlug + ' en zona ' + zona + '. Preferencia: ' + prefTexto + '. Folio ' + booking_code + '.')\n  .normalize('NFD').replace(/[\\u0300-\\u036f]/g,'');\nconst wa_link = 'https://wa.me/' + telYaz + '?text=' + encodeURIComponent(waText);\n\nconst payload = {\n  booking_code,\n  lead_ref: body.lead_ref || null,\n  ghl_contact_id: body.ghl_contact_id || null,\n  cliente_nombre: body.cliente_nombre || null,\n  cliente_telefono: body.cliente_telefono || null,\n  cliente_email: body.cliente_email || null,\n  servicios: servicios,\n  preferencia_sexo: pref,\n  zona_municipio: 'Cancun',\n  zona_colonia: body.zona_colonia || null,\n  direccion_libre: body.direccion_libre || null,\n  direccion_maps_url: body.direccion_maps_url || null,\n  notas_cliente: body.notas_cliente || null,\n  modo_asignacion: 'whatsapp_group',\n  estado: 'reservo'\n};\nreturn { json: { payload, booking_code, wa_link } };"
      },
      "id": "exentia-reserva-nm",
      "name": "Normalize",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO exentia.bookings (booking_code, lead_ref, ghl_contact_id,\ncliente_nombre, cliente_telefono, cliente_email,\nservicios, preferencia_sexo,\nzona_municipio, zona_colonia,\ndireccion_libre, direccion_maps_url, notas_cliente,\nmodo_asignacion, estado)\nSELECT booking_code, lead_ref, ghl_contact_id,\ncliente_nombre, cliente_telefono, cliente_email,\nservicios, preferencia_sexo,\nzona_municipio, zona_colonia,\ndireccion_libre, direccion_maps_url, notas_cliente,\nmodo_asignacion, estado\nFROM jsonb_populate_record(NULL::exentia.bookings, $1::jsonb)\nRETURNING id, booking_code;",
        "options": {
          "queryReplacement": "={{ JSON.stringify($json.payload) }}"
        }
      },
      "id": "exentia-reserva-pg",
      "name": "Postgres",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        680,
        300
      ],
      "credentials": {
        "postgres": {
          "id": "gmDIcD6HxZUR2ixx",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return [{ json: {\n  success: true,\n  booking_code: $('Postgres').item.json.booking_code,\n  id: $('Postgres').item.json.id,\n  wa_link: $('Normalize').item.json.wa_link\n} }];"
      },
      "id": "exentia-reserva-br",
      "name": "Build Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        900,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "exentia-reserva-rs",
      "name": "Respond 200",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1120,
        300
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Normalize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize": {
      "main": [
        [
          {
            "node": "Postgres",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres": {
      "main": [
        [
          {
            "node": "Build Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Response": {
      "main": [
        [
          {
            "node": "Respond 200",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    {
      "name": "exentia"
    }
  ]
}